tqdm
pandas
numpy
matplotlib
japanize-matplotlib
plotly
scikit-learn
flask
requests
openai==0.28.1
tiktoken
langchain==0.0.214
wikipedia==1.4.0
azure-search-documents==11.3.0
azure-storage-blob==12.16.0
PyPDF2
pdfplumber
rich 
litellm 
tokentrim
chardet
python-dotenv