body.light-theme {
    color: #000000;
    background-color: #ffffff;
}

body.light-theme h1 {
    color: #000000;
}

#theme-switcher {
    transition: all 0.3s ease;
}

body.light-theme #theme-switcher {
    background-color: #DFDFDF !important;
    color: #454545 !important;
    border-color: #454545 !important;
}

body.light-theme #chat-settings-container,
body.light-theme #chatbox,
body.light-theme #input-container,
body.light-theme #settings-container,
body.light-theme #settingsform input[type="text"], 
body.light-theme #settingsform input[type="number"], 
body.light-theme #settingsform input[type="password"],
body.light-theme #settingsform .password-container,
body.light-theme #message {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}

body.light-theme .toggle-password {
    filter: invert(100%);
}

body.light-theme .user-text,
body.light-theme .gpt-text {
    color: #ffffff;
}

body.light-theme .user-text {
    background-color: #005243;
}

body.light-theme .gpt-text {
    background-color: #202f55;
}

/* 追加 */
body.light-theme #settings-button,
body.light-theme #recommendations-button,
body.light-theme #open-interpreter-button,
body.light-theme #wiki-searchations-button,
body.light-theme #rec-bing-search-button,
body.light-theme #bing-search-button,
body.light-theme #strage-search-button,
body.light-theme #chatform input[type="submit"],
body.light-theme #settingsform input[type="submit"] {
    background-color: #202f55; 
    color: #ffffff;
    border-color: #000000;
}

body.light-theme .password-container .toggle-password {
    color: #000000;
}

/* 追加 */
body.light-theme #wiki-searchations-button.active, 
body.light-theme #rec-bing-search-button.active,
body.light-theme #bing-search-button.active,
body.light-theme #settings-button.active, 
body.light-theme #strage-search-button.active,
body.light-theme #open-interpreter-button.active,
body.light-theme #recommendations-button.active {
    background-color: #baecff;
    color: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: left;
    color: #ffffff;
    width: 65%;
}

#app-container {
    display: flex;
    justify-content: flex-start; /* changed from space-between */
    flex-wrap: wrap; /* add this line */
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}


/* 追加したチャットと設定のコンテナ */
#chat-settings-container {
    width: 65%;
    display: flex;
    flex-direction: column;
}

#chatbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 62vh;
    min-height: 62vh;
    border: 1px solid #4a4a4a;
    padding: 10px 20px;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #2f2f2f;
    box-sizing: border-box;
    overflow-y: auto;
}

/* 入力コンテナのレイアウト設定 */
#input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    height: 15.5vh;
    border: 1px solid #4a4a4a;
    padding: 20px;
    border-radius: 10px; 
    background-color: #2f2f2f; 
    box-sizing: border-box;
    overflow-y: auto;
}

#settings-container {
    flex-direction: column;
    width: 30%;
    height: 80vh;
    border: 1px solid #4a4a4a;
    padding: 20px;
    border-radius: 10px;
    background-color: #2f2f2f;
    box-sizing: border-box;
    margin-left: 20px;
    overflow-y: auto;
}

/* スクロールバーの全体をスタイリング */
#chatbox::-webkit-scrollbar {
    width: 12px;
}

/* スクロールバーのトラック（背景）部分をスタイリング */
/* #chatbox::-webkit-scrollbar-track {
    background-color: #333333;
} */

/* スクロールバーのハンドル（つまみ）部分をスタイリング */
/* #chatbox::-webkit-scrollbar-thumb {
    background-color: #333333;
} */

#message {
    flex-grow: 1;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #4a4a4a;
    padding: 10px;
    background-color: #2f2f2f;
    color: #ffffff;
}

/* ユーザーメッセージのスタイル */
.user-text {
    align-self: flex-end;
    background-color: #A7F3D0;
    color: #333333;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 60%;
    line-height: 1.5;
}

/* GPTの応答のスタイル */
.gpt-text {
    align-self: flex-start;
    background-color: #98e2ff;
    color:  #333333;
    margin-right: auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 60%;
    line-height: 1.5;
}

#chatform input[type="submit"] {
    width: 70px;
    height: 60px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    background-color: #98e2ff;
    color:  #333333;
    cursor: pointer;
    transition: 0.3s;
}

#settingsform input[type="text"], #settingsform input[type="number"], #settingsform input[type="password"] {
    width: calc(100% - 20px); /* パディングとボーダーの幅を差し引いた値に変更 */
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #4a4a4a; 
    border-radius: 5px;
    background-color: #363636;
    color: #ffffff;
    transition: 0.3s;
}


#settingsform input[type="submit"] {
    width: calc(100% - 20px); /* パディングとボーダーの幅を差し引いた値に変更 */
    margin-top: 20px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    padding: 10px;
    background-color: #98e2ff;
    color:  #333333;
    cursor: pointer;
    transition: 0.3s;
}

#tab-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* add this line */
    width: 100%;
    margin-bottom: 20px; /* ボタンと設定フォームの間に少しスペースを作る */
}

/* 追加 */
#settings-button, 
#recommendations-button, 
#open-interpreter-button, 
#wiki-searchations-button,
#rec-bing-search-button,
#strage-search-button,
#bing-search-button {
    /* 共通のスタイルをここに書く */
    border: none;
    border-radius: 5px;
    background-color: #98e2ff;
    color:  #333333;
    border: 1px solid #4a4a4a;
    min-width: 40px; /* adjust as needed */
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-grow: 1;  /* add this line */
    text-align: center; /* add this line */
    white-space: nowrap; /* 改行を無効化 */
    overflow: hidden; /* コンテンツがボックスを超えた時に隠す */
    text-overflow: ellipsis; /* 文字列がボックスを超えた場合に...と表示 */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommend-button {
    flex-shrink: 0;
}

/* recommend-buttonをクリックした時の処理 */
/* 追加 */
#recommend-list li:active,
#open-interpreter-list li:active,
#wiki-search-list li:active,
#bing-search-list li:active,
#strage-search-list li:active,
#rec-bing-search-list li:active {
    background-color: #888888;
    color: #ffffff;
}
/* 追加 */
body.light-theme #recommend-list li:active,
body.light-theme #open-interpreter-list li:active,
body.light-theme #wiki-search-list li:active,
body.light-theme #bing-search-list li:active,
body.light-theme #strage-search-list li:active,
body.light-theme #rec-bing-search-list li:active {
    background-color: #bbbbbb;
    color: #000000;
}

#recommend-list li, 
#open-interpreter-list li, 
#wiki-search-list li,
#bing-search-list li,
#strage-search-list li,
#rec-bing-search-list li {
    cursor: pointer;
}

/* 追加 */
#settings-button.active, 
#recommendations-button.active, 
#open-interpreter-button.active, 
#wiki-searchations-button.active,
#bing-search-button.active,
#strage-search-button.active,
#rec-bing-search-button.active {
    /* アクティブなタブのスタイル */
    background-color: #dcf6ff;
}

/* APIキーのラベルと入力欄のレイアウトを修正 */
#settingsform label[for="api_key"], .password-container {
    display: flex;
    flex-direction: column;
}

.password-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

#settingsform input[type="password"] {
    width: calc(100% - 20px); /* アイコンのスペースを考慮 */
    /* 他のスタイルは以前のまま */
    background-color: #363636; /* 黒色の背景 */
    color: #fff; /* 文字色を白色に設定 */
}

/* パスワードの可視性トグルボタン */
.toggle-password {
    color: #000; /* アイコンの色を黒に設定 */
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
/* 追加 */
#recommend-content,
#open-interpreter-content,
#wiki-search-content,
#bing-search-content,
#strage-search-button,
#rec-bing-search-content {
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 80%;
}

/* #bing-search-content {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
} */
  
/* #bing-search-content label {
font-size: 1.2em;
color: #333;
} */

#bing_search_v7_subscription_key, #bing_search_v7_endpoint {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.password-container {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* #bing-search-checkbox {
    margin: 20px 0;
} */

/* #bing-search-list {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
} */

#text-correction-button {
    cursor: pointer;
}
body.light-theme #text-correction-button {
    background-color: #DFDFDF !important;
    color: #454545 !important;
    border-color: #454545 !important;
}
body.light-theme #text-correction-button.active {
    background-color: #baecff;
    color: #333333;
}