<!DOCTYPE html>
<html>
    <head>
        <title>Chat with GPT-3</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <style>
        body {
            font-family: 'Yu Gothic', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
            font-weight: bold;
        }
        button, input {
            font-weight: bold;
        }
        </style>
    </head>
<body>
    <h1 style="display: inline;">ChatGPT 📝</h1>
    <!-- <div style="display: flex; align-items: baseline;"> -->
        <!-- <h1 style="display: inline;">ChatGPT 📝</h1> -->
        <!-- <h2 id="token-count" style="display: inline; margin-left: 20px;">Tokens: 0</h2> -->
    <!-- </div> -->
    <div style="position: absolute; left: 0;">
        <h2 id="token-count" style="display: inline">Tokens: 0</h2>
    </div>
    <!-- New Chat and Session List Area --> 
    <!-- <div id="session-list-area" style="position: fixed; left: 10px; top: 10px;"> 
        <button id="new-chat-button" style="padding: 5px 10px; margin-right: 5px;">+</button> 
        <button id="toggle-session-list" style="padding: 5px 10px;">Ⅲ</button>
        <button id="toggle-session-list-area" style="padding: 5px 10px;">≡</button>
        <div id="session-list" style="display: none; margin-top: 10px; border: 1px solid #ddd; padding: 10px; max-height: 300px; overflow-y: auto;">  -->
            <!-- Past chat sessions will be listed here --> 
        <!-- </div>  -->
    <!-- </div> -->
    <button id="theme-switcher" style="position: fixed; top: 10px; right: 10px; padding: 10px 20px; border: none; border-radius: 5px; color: #ffffff; background-color: #000000;">Switch Theme</button>
    <div id="app-container">
        <div id="chat-settings-container">
            <div id="chatbox">
                  
                <!-- Chat messages will be inserted here -->
            </div>
            
            <form id="chatform">
                <div id="input-container">
                    <textarea id="message" placeholder="Type your message here"></textarea>
                    <div id="button-group">
                        <input type="submit" value="Send">
                        <button id="stop-button" onclick="event.preventDefault(); stopGeneration()">生成停止</button>
                    </div>
                    <!-- <input type="submit" value="Send">
                    <button id="stop-button" onclick="event.preventDefault(); stopGeneration()">生成を停止</button> -->
                </div>
            </form>
            <!-- <button id="text-correction-button" onclick="location.href='/text_correction'" style="position: fixed; top: 10px; right: 130px; padding: 10px 20px; border: none; border-radius: 5px; color: #ffffff; background-color: #000000;">Text Correction</button> -->

            <div id="other-functions-container">
                <button id="text-correction-button" onclick="location.href='/text_correction'">Text Correction</button>
            </div>
        </div>
        <div id="settings-container">
            <div id="tab-buttons">
                <button id="settings-button">Settings</button>
                <button id="recommendations-button">Suggest</button>
                <button id="open-interpreter-button">Open interpreter</button>    <!-- 追加 -->
                <button id="rec-bing-search-button">Bing Suggest</button>    <!-- 追加 -->
                <button id="wiki-searchations-button">Wiki Find</button>
                <button id="bing-search-button">Bing Find</button>    <!-- 追加 -->
                <button id="strage-search-button">Strage Find</button>    <!-- 追加 -->
            </div>
            <div id="settings-content">
                <form id="settingsform">
                    <label for="model">Model:</label>
                    <input type="text" id="model" name="model" value="gpt-3.5-turbo-0613">
            
                    <label for="temperature">Temperature:</label>
                    <input type="number" step="0.01" min="0.0" max="1.0" id="temperature" value="0.8" required>
                    <label for="api_key">API Key:</label>
                    <div class="password-container">
                        <input type="password" id="api_key" placeholder="API Key">
                        <i class="toggle-password fa fa-eye" aria-hidden="true" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); color: #ffffff; cursor: pointer;"></i>
                    </div>
                    
                    <div>
                        <label for="bing_search_v7_subscription_key">Bing Search V7 Subscription Key:</label>
                        <div class="password-container">
                            <input type="password" id="bing_search_v7_subscription_key" placeholder="Subscription Key">
                            <i class="toggle-password fa fa-eye" aria-hidden="true" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); color: #ffffff; cursor: pointer;"></i>
                        </div>
                    </div>
                
                    <!-- Bing Search V7 Endpointの設定項目 -->
                    <div>
                        <label for="bing_search_v7_endpoint">Bing Search V7 Endpoint:</label>
                        <input type="text" id="bing_search_v7_endpoint" name="bing_search_v7_endpoint", value="https://api.bing.microsoft.com">
                    </div>

                    <!-- 埋め込みベクトルモデルの設定項目 -->
                    <label for="search_service_name">Embedding Model Name:</label>
                    <input type="text" id="search_service_name" name="search_service_name" value="text-embedding-ada-002">
                    <label for="index_name">Strage Container:</label>
                    <input type="text" id="index_name" name="index_name" value="pdf-1page">
                    
                    <div>
                        <label for="strage_search_key">Strage Key:</label>
                        <div class="password-container">
                            <input type="password" id="strage_search_key" placeholder="strage search key">
                            <i class="toggle-password fa fa-eye" aria-hidden="true" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); color: #ffffff; cursor: pointer;"></i>
                        </div>
                    </div>

                    <input type="submit" value="Update Settings">
                </form>
            </div>
            <div id="open-interpreter-content" style="display: none;">
                <!-- ここにopen-interpreterタブの内容を追加できます -->
                <input type="checkbox" id="open-interpreter-checkbox">
                <label for="open-interpreter-checkbox" style="word-wrap: break-word;">Open interpreter</label>
                <ul id="open-interpreter-list"> 
            </div>
            <div id="recommend-content" style="display: none;">
                <!-- ここにRecommendタブの内容を追加できます -->
                <input type="checkbox" id="recommend-checkbox">
                <label for="recommend-checkbox" style="word-wrap: break-word;">Making Recommendations</label>
                <ul id="recommend-list"> 
            </div>
            <div id="rec-bing-search-content" style="display: none;">    <!-- 追加 -->
                <!-- ここにBing SearchRecommendタブの内容を追加できます -->
                <input type="checkbox" id="rec-bing-search-checkbox">
                <label for="rec-bing-search-checkbox" style="word-wrap: break-word;">Enable Recommend Bing Search</label>
                <ul id="rec-bing-search-list"></ul>
            </div>
            <div id="wiki-search-content" style="display: none;">
                <!-- ここにWikiSearchタブの内容を追加できます -->
                <input type="checkbox" id="wiki-search-checkbox">
                <label for="wiki-search-checkbox" style="word-wrap: break-word;">Making Wiki Search</label>
                <ul id="wiki-search-list"> 
            </div>
            <div id="bing-search-content" style="display: none;">    <!-- 追加 -->
                <!-- ここにBing Searchタブの内容を追加できます -->
                <input type="checkbox" id="bing-search-checkbox">
                <label for="bing-search-checkbox" style="word-wrap: break-word;">Enable Bing Search</label>
                <ul id="bing-search-list"></ul>
            </div>
            <div id="strage-search-content" style="display: none;">    <!-- 追加 -->
                <!-- ここにStrage Searchタブの内容を追加できます -->
                <input type="checkbox" id="strage-search-checkbox">
                <label for="strage-search-checkbox" style="word-wrap: break-word;">Enable Strage Search</label>
                <ul id="strage-search-list"></ul>
            </div>
        </div>
        
    </div>
    
    <script src="/static/js/script.js"></script>
</body>
</html>
